/* .test {
    background-image: url('https://images.pexels.com/photos/261327/pexels-photo-261327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
} */